$primary-color: #FF8400;
$secondary-color: #a941a9;
$text-color: #E8DED4;

$error-color: #e74c3c;

$border-radius: 20px;

$font-size-title: 2.25rem;
$font-size-body: 1.2rem;

$panel-padding: 20px;
$panel-padding-mobile: 10px;
$panel-border-radius: $border-radius;
$panel-background-color: #330f4e;

$input-background-color: #5B3C7F;
$input-placeholder-color: #9f9f9f;