.podium {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.players-container {
  display: flex;
  flex-direction: column-reverse; /* Joueurs apparaissant de bas en haut */
  align-items: center;
  gap: 10px;
  width: 100%;
  max-width: 400px;
  margin: auto;
}

.spot {
  width: 100%;
  max-width: 300px;
  background: $secondary-color;
  border-radius: 8px;
  padding: 5px 10px;
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 0.8s ease, transform 0.8s ease;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &.visible {
    opacity: 1;
    transform: translateY(0);
  }
}

.info {
  display: flex;
  flex-direction: column;
}

.name {
    display: flex;
    gap: 5px;
    font-size: 1rem;
    font-weight: bold;
}

.points {
    font-size: 0.8rem;
    font-weight: 800;
    color: #ffd600;
}

.rank {
  font-size: 1.4rem;
  font-weight: bold;
  color: #333;
}

.actions {
    margin-top: 30px;
}